<div class="m-users">
  <h2>Recent users</h2>
  <% if (data.length > 0) { %>
  <p>These users are new to Friendship, go check out their profiles and give them a like!</p>
  <div class="user-container">
    <% for (let i = 0; i < data.length; i++) { %>
    <a href="/otherprofile/<%= data[i].username %>">
      <div class="user">
        <div class="user__image"
        style="background-image: url(<%= data[i].avatar %>), linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.35))">
        </div>
        <h4>
          <%= data[i].firstname %>
        </h4>
        <p>
          <%= data[i].location %>
        </p>
      </div>
    </a>
    <% } %>
  </div>
  <% } else { %>
    <h1>No users here yet</h1>
    <% } %>
</div>